* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    text-align: center;
    font-family: 'Yaldevi', sans-serif;
    }

header {
    background-color: white;
    overflow: auto;
}
header > div {
    max-width: 960px; 
    margin: 0 auto;
}
header > div > a {
    float: left;
    padding: 12px;
    text-decoration: none;
    color: #000;
}
header > div > a:hover {
   color: blue
}
header > div > a > img {
    width: 50px;
    vertical-align: middle;
}
header > div > a > strong {
    font: 400 24px/48px arial;
    vertical-align: middle;
}
header > div > nav {
  float: right;
    padding: 12px;
}
header > div > nav > a {
    display: inline-block;
    margin: 0 0 0 12px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font: 400 18px/48px araial;
    vertical-align: middle;
}
header > div > nav > a:hover {
    color: rgba(149, 56, 82, 0.75);
}
header > div > nav > a.cart {
    
}
header > div > nav > a.cart > img {
    width: 24px;
    vertical-align: middle;
}




.banner {
    height: 84vh;
    white-space: nowrap; 
    background-image: url(/images/construction.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    clip-path: polygon(0 0, 100% 0%, 100% 96%, 50% 100%, 0 96%);
} 

.banner:before { 
    content: '\00a0';
    display: block; 
    position: absolute; 
    z-index: 100;
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0, .25);
}

banner:after{
    content: '\00a0'
    display: inline-block;
    height: 100%
    vertical-align: middle; 
    width: 0px; 
}



.banner > hgroup {
    position: relative; 
    z-index: 200;
    display: inline-block;
    width: 100%;
    max-width: 720px;
    vertical-align: middle;
    white-space: normal;
    color: #fff;
} 

.banner > hgroup > img {
    height: 50px;
    width: 70px;
    display: none;
}

.banner > hgroup > h1 {
    font: 'Yaldevi', sans-serif;
    text-transform: uppercase; 
}

.banner > hgroup > a.button {  
    display: inline-block;
    background: #cc9342;
    color: #fff;
    text-decoration: none; 
    text-transform: uppercase;
    padding: 6px 24px: 
    font: 900 24px/30px arial;
    margin: 12px 0 0 0;
    border-radius: 96px;
} 





footer{ 
    padding: 96px 0px; 
    
}

footer > div{ 
    padding: 0px; 
    overflow: hidden;
    border: 3px solid aqua;  

    
}


footer > div > div{ 
    float: left;
    width: 33.333333%; 
    border: 5px; 
    border-color: aqua; 
}

footer > div > .logo{
    vertical-align: middle; 
    padding: 56px 10px; 
    background: grey;
   

}
footer > div > .logo > a{  

}
footer > div > .logo > a > img { 
    height: 48px;
    margin: 5px 5px;
    vertical-align: middle;
}


footer > div > .social { 
    padding: 56px 10px; 
    background: white; 
    vertical-align: middle; 
}



footer > div > .social > a{ 
    width: 48px;
}

footer > div > .social > a > img{     
    height: 48px;
    margin: 5px 5px;
    vertical-align: middle;

}


footer > div > .nav{
    background: grey;
/*    height: 40px; */
    padding: 10px; 

}

footer > div > .nav > .links {
    background: grey; 
   
}

footer > div > .nav > .links > p{
    font: 400 15px/20px arial;
    vertical-align: middle;
    text-decoration: underline
}


footer > div > .nav > .links > .button {
     font: 400 15px/20px arial;
    vertical-align: middle;
    display: block 
}
footer > div > .nav > .links > .button:hover{
    color: #707070; 
    cursor: pointer;
}

footer > div > .contact { 

} 

footer > div > .nav > .contact > p{
    font: 400 15px/20px arial;
    margin: 5px; 
      
}

footer > div > .nav > .contact > a { 
}


footer > div > .nav > .contact > .button {

background: white;
    text-decoration: none;
    color: black;
    padding: 9px 5px;
    text-transform: uppercase;
    border: 3px solid #709dcc;
    display: inline-block;
    
}
footer > div > .nav > .contact > .button:hover{
    background: #666666;
    color: white;
    cursor: pointer;
    top: -12px;}


.about-me{
    
}
.about-me > .photo{
    display: block;
    margin: 0 auto;
    width: 320px;
    height: 320px;
    background-size: cover;
    background-position: top center;
    border-radius: 250px;
    border: 1px solid #000;
    box-shadow: 0 0 0 15px #fff inset
        
}
.about-me{
     
}
.about-me > h1{
    text-align: center;
    margin: 0 0 12px 0;
    font-family: 'Yaldevi', sans-serif;
}
.about-me > p{
    max-width: 480px;
    margin: 0 auto;
    padding: 24px
}
.about-me > a.button{
    position: relative;
    top: 0;
    display: inline-block;
    
    background: #fff;
    text-decoration: none;
    color: rosybrown;
    padding: 9px 24px;
    border-radius: 96px;
    text-transform: uppercase;
    border: 3px solid brown;
    transition: all .3s ease-in 0s;
    
    font-family: 'Yaldevi', sans-serif;
    
}
.about-me > a.button:hover{
    background: #BC8F8F;
    color: #fff;
    
    top: -12px;
}                                                                                       
   
    
    
    
    
    
.product-details{
    padding:72px 0 0 0;
}
.product-details > .primary-photo{
    width:49%
    display:inline-block;
    vertical-align:middle;
}
.product-details > .primary-photo > img{
    width: 100%;     
}
.product-detals > .detals{
     width: 49%;
    padding: 24px;
    display: inline-block;
    color: #fff;
    vertical-align: middle;  
}
.product-details > .details > h1{
    font: 900 30px/36px arial;
    text-transform: uppercase;
}
.product-details > .details > h2.price{
    margin: 12px 0 0 0;
    font: 200 20px/36px "Stick No Bills", arial;
}
.product-details > .details > button{
    padding: 6px 18px
    margin: 12px 0 0 0;
    font: 900 20px/36px Verdana, Arial; 
    text-transform: uppercase;
    border-radius: 9px;
    border: none;
    background: #f16;
    color: #fff;
}
.product-details > .details > p {
    margin: 24px 0 0 0;
    font: 200 20px/30px Verdana, Arail;
}


@media all and (max-width:960px) {
    .product-details > .primary-photo{
        display:block;
        margin: 0 auto;
        width: 90%;
        max-width: 480px:
    } 
}